<html>
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="index.css">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

    <script type="text/javascript" src="https://unpkg.com/vue@2.3.3"></script>
    <script type="text/javascript" src="https://unpkg.com/fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fusioncharts/fusioncharts.charts.js"></script>
    <script type="text/javascript" src="https://unpkg.com/fusioncharts@3.12.1/themes/fusioncharts.theme.fint.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-fusioncharts/dist/vue-fusioncharts.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <script type="text/javascript" src="https://unpkg.com/jquery@3.3.1/dist/jquery.js"></script>
    <script type="text/javascript" src="https://unpkg.com/jqueryui@1.11.1/jquery-ui.js"></script>
  </head>
  <body>
    <div id="app">

      <div>
      <fusioncharts
        :type="type"
        :width="width"
        :height="height"
        :dataFormat="dataFormat"
        :dataSource="dataSource"
        :events="events"
      ></fusioncharts>
      </div>
      
      <b-form-input v-model="colors" type="color"></b-form-input>

      <div>
        <b-modal id="modal" ref="myModalRef" title="Add Compétence">
          <b-container fluid>
            <b-row>
              <b-col sm="2"><label for="x">X: </label></b-col>
              <b-col sm="10"><b-form-input id="x" v-model="x" type="number"></b-form-input></b-col>
              <b-col sm="2"><label for="y">Y: </label></b-col>
              <b-col sm="10"><b-form-input id="y" v-model="y" type="number"></b-form-input></b-col>
              <b-col sm="2"><label for="z">Z: </label></b-col>
              <b-col sm="10"><b-form-input id="z" v-model="z" type="range"></b-form-input></b-col>
              <b-col sm="2"><label for="lib">Libellé: </label></b-col>
              <b-col sm="10"><b-form-input id="lib" v-model="lib" type="text"></b-form-input></b-col>
            </b-row>
          </b-container>
        </b-modal>
      </div>
    </div>

    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
